@keyframes fadeIn {
       from { opacity : 0%; }
       to { opacity : 100%; }
   }

@keyframes fadeOut {
  from { opacity : 100%; }
  to { opacity : 0%; }
}

@-webkit-keyframes fadeIn {
       from { opacity : 0%; }
       to { opacity : 100%; }
   }

@-webkit-keyframes fadeOut {
  from { opacity : 100%; }
  to { opacity : 0%; }
}

.fadeIn{
  animation: fadeIn;
  animation-duration: 0.5s;
}

.fadeOut{
  animation: fadeOut;
  animation-duration: 0.5s;
}
